<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Board List</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Board List</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Date</th>
          <th>Views</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="board : ${boards}">
          <td th:text="${board.id}"></td>
          <td>
            <a
              th:href="@{/boards/{id}(id=${board.id})}"
              th:text="${board.title}"
            ></a>
          </td>
          <td th:text="${board.author}"></td>
          <td th:text="${board.createdAt}"></td>
          <td th:text="${board.viewCount}"></td>
        </tr>
      </tbody>
    </table>
    <a th:href="@{/boards/new}">Create New Post</a>
  </body>
</html>
